[submodule "tvm"]
	path = tvm
	url = https://github.com/SNU-CODElab/hyperf_tvm.git
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/SNU-CODElab/hyperf_llvm_project.git
[submodule "polybench"]
	path = polybench
	url = https://github.com/SNU-CODElab/hyperf_polybench.git
