[submodule "hyperf_llvm_project"]
	path = hyperf_llvm_project
	url = https://github.com/SNU-CODElab/hyperf_llvm_project.git
[submodule "hyperf_polybench"]
	path = hyperf_polybench
	url = https://github.com/SNU-CODElab/hyperf_polybench.git
[submodule "hyperf_tvm"]
	path = hyperf_tvm
	url = https://github.com/SNU-CODElab/hyperf_tvm
